@import "../scss/constants";

.navigation {
  display: grid;
  justify-content: flex-end;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;

  font-family: $headers-font;
  font-size: $headers-font-size;
  height: 90px;
  background-color: $main-background;
  button {
    padding: 0;
    margin: 0;
  }
}
.timePopper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $logo-font;
  font-size: 36px;
}

.contentHeader {
  font-size: 18px;
  margin: 0;
  text-align: end;
}
.ant-switch {
  .ant-switch-inner {
    .ant-switch-inner-checked {
      background-color: red;
    }
  }
}
