@import "../scss/constants";

.navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 18px;
  font-family: $headers-font;
  font-size: 24px;
  height: 90px;
  background-color: rgba(25, 25, 25, 0.5);
  button {
    padding: 0;
    margin: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $logo-font;
  font-size: 36px;
}

.contentHeader {
  margin: 0;
  text-align: end;
}
.ant-switch {
  .ant-switch-inner {
    .ant-switch-inner-checked {

    }

  }
}



