@import "src/components/common/scss/constants";

.pizza {
  background-color: $main-background;
  min-height: 400px;
  min-width: 280px;
  width: 360px;
  padding: 15px 20px 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid $light-border;
  transition: $medium-transition;
}

.pizza.selected {
  border: 2px solid $main-background;
  box-shadow: 0 0 5px 2px $button-background-primary-hover;
}

.pizza > img {
  width: 300px;
  border-radius: 100%;
}

.pizzaTittle {
  font-family: $logo-font;
  font-size: $headers-font-size;
}





img {
  width: 20px;
}

.selectors {

}
