@import "src/components/common/scss/constants";

.pizza {
  background-color: rgba(25, 25, 25, 0.5);
  min-height: 400px;
  min-width: 280px;
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 20px;
}

.pizza >  img {
  width: 300px;
  border-radius: 100%;
}
.pizzaTittle {
  font-family: $logo-font;
}
.pizzaControls {
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  cursor: pointer;
}
