.menu ul  {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}
.menu {
    width: 100%;
    margin-right: 40px;
}
button {
    width: 200px;
}