@import "src/components/common/scss/constants";

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $headers-font-size;
  justify-content: center;
  gap: 20px;
  height: 90px;
}
