.controllers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  margin: 10px auto 0;
}

.counter {
  display: block;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  width: 70px;
  height: 32px;
  border-radius: 6px;
  background-color: #ffffff;
  border-color: #d9d9d9;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}