@import "../scss/constants";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;

}

.inner {
  transition: $fast-transition;
  height: 50px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  cursor: pointer;
  font-size: 32px;
  color: $main-font-color;
  border-bottom: 4px solid rgba(25, 25, 25, 0.5);
  &:hover {
    border-bottom: 4px solid $main-font-color;
  }
}
