@import "../scss/constants";

.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
}

.inner {
  transition: $fast-transition;
  height: 50px;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0 20px;
  cursor: pointer;
  font-size: $headers-font-size;
  color: $main-font-color;
  border-bottom: 4px solid $dark-border;
  &:hover {
    border-bottom: 4px solid $main-font-color;
  }
}
