@import "src/components/common/scss/constants";

.wrapper {
  width: 85%;
}

.icon {
  font-size: 32px;
  transition: $fast-transition;
  &:hover {
    scale: 1.2;
  }
}

.itemImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.itemTitle {
  display: flex;
  gap: 20px;
}

.pagination {
  color: $main-font-color;
  font-family: $main-font;
  &:hover {
    scale: 1.2;
  }
}

.emptyRow {
  height: 60px;
}
