@import "../constants.scss";

@mixin ant-btn() {
  .ant-btn {
    height: 32px;
    min-width: 60px;
    width: 80px;
    font-size: $title-font-size;
    font-family: $logo-font;
    background-color: $button-background;
    transition: $medium-transition;

    &:hover {
      color: $hover-font-color !important;
      border-color: $button-background-primary-hover !important;
      box-shadow: 0 0 5px 2px $button-background-primary-hover;

    }
  }
  .ant-btn.ant-btn-primary {
    background-color: $button-background-primary;
    border-color: $button-background-primary;
    color: $sub-dark-font-color;

    &:hover {
      background-color: $button-background-primary-hover !important;
      border-color: $button-background-primary-hover !important;
      color: $main-font-color !important;
    }
  }
  .ant-btn > span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
  }

  .custom-button {
    height: fit-content;
    width: fit-content;
    padding: 5px 20px 0 20px;
    font-size: $title-font-size;
    font-family: $logo-font;
  }
}
