@import "../constants.scss";

@mixin ant-btn() {
 .ant-btn {
   height: 40px;
   min-width: 60px;
   width: 80px;
   font-size:$title-font-size;
   font-family: $logo-font ;
 }
  .ant-btn > span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
  }
}
