@import "/fonts/fonts.css";

$main-font: "CantarellRegular", sans-serif;
$headers-font: "PassionOneRegular", sans-serif;
$logo-font: "SpecialEliteRegular", $headers-font, $main-font, sans-serif;

$background-image: "/images/background/background.png";

$shopping-cart: "/images/icons/shopping_cart_icon.svg";

$main-font-color: rgba(255, 255, 255, 0.85);
$main-font-size: 16px;
$title-font-size: 22px;
$medium-transition: all 0.5s ease 0s;
$fast-transition: all 0.2s ease 0s;
$low-transition: all 0.8s ease 0s;

$modal-background: #242424;
