#root {
  max-width: 100vw ;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw ;
  height: 100vh;
}
.work-space {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 10px;
}