@import "src/components/common/scss/constants";

.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.pricePizzas {
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-weight: bold;
}